<h1><p style="text-align:center;">Work Orders</p></h1>

<div class="container">
    <table class="table table-striped">
      <thead>
          <tr>
            <th>Report ID:</th>
            <th>First Name:</th>
            <th>Last Name:</th>
            <th>Description:</th>
            <th>Location:</th>
            <th>Date Opened:</th>
            <th>Status:</th>  
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let workOrder of workOrders">
            <td>{{ workOrder.id}}</td>
            <td>{{ workOrder.firstName }}</td>
            <td>{{ workOrder.lastName }}</td>
            <td>{{ workOrder.description }}</td>
            <td>{{ workOrder.location}}</td>
            <td>{{ workOrder.dateCreated | date: 'shortDate'}}</td>
            <td>{{ workOrder.workOrderStatus}}</td>
            <td>
              <div>
              <button type="button" id=button class="table-btn btn-primary" (click)="close(request.id)">
              Close
              </button>
              <button class="table-btn btn-primary btn-md" (click)="edit(request.id)">Edit</button>
              <!-- <button class="table-btn btn-primary btn-md" routerLink="/edit-requests">Delete</button>   -->
              </div>
            </td>
        </tr>
      </tbody>
    </table>
    <div>
      <button class="btn btn-primary btn-md" routerLink="/admin/workOrder/closed">Closed Reports</button>  
    </div>
  </div>


