<h1><p style="text-align:center;">Work Orders</p></h1>

<!-- <div class="container">
    <table class="table table-striped">
      <thead>
          <tr>
            <th>Report:</th>
            <th>First Name:</th>
            <th>Last Name:</th>
            <th>Description:</th>
            <th>Location:</th>
            <th>Date Opened:</th>
            <th>Status:</th>
            <th>Date Closed:</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let workOrder of workOrders; let i = index">
            <td>{{ i+1 }}</td>
            <td>{{ workOrder.firstName }}</td>
            <td>{{ workOrder.lastName }}</td>
            <td>{{ workOrder.description }}</td>
            <td>{{ workOrder.location}}</td>
            <td>{{ workOrder.dateCreated | date: 'shortDate'}}</td>
            <td>{{ workOrder.workOrderStatus}}</td>
            <td>{{ workOrder.dateCompleted}}</td>
        </tr>
      </tbody>
    </table>
  </div> -->


