<div class="container-fluid btn-group-toggle main-container" data-toggle="buttons">
    <div class="container">
      <!-- <ul class="nav nav-pills"> -->
        <li class="nav-item">
          <button class="btn btn-primary" (click)="registerView()">Register</button>
        </li>
        <li class="nav-item">
          <button class="btn btn-primary" (click)="loginView()">Login</button>
        </li>
        <li class="nav-item">
          <button class="btn btn-primary" (click)="cancel()">Cancel</button>
        </li>
      <!-- </ul> -->
    </div>
  </div>
