
<div id="main-content" class="container">

    <div class="row">
        <div class="col-md-12">
           
      </div>
    </div>
    
  <div class="row">
      <div class="col-md-6">
          <form class="form-inline">
              <div class="form-group">
                  <label for="connect">WebSocket connection:</label>
                  <button (click)="connect()" class="btn btn-default" type="submit">Connect</button>
                  <button (click)="disconnect()" class="btn btn-default" type="submit" disabled="disabled">Disconnect
                  </button>
              </div>
          </form>
      </div>
      <div class="container">
          <ul>
              <li *ngFor="let output of workOrders">
                  {{work.firstName}}
                  {{work.lastName}}
                  {{work.description}}
                  {{work.location}}

              </li>
          </ul>
      </div>
     

      
  </div>
 

<div class="container display">
    <div class="container">
        <app-request-ambassador-display></app-request-ambassador-display>
    </div>

    <div class="container">
        <app-reported-concerns-display></app-reported-concerns-display>
    </div>

</div>