<p>register-user works!</p>

<div class="container" style="text-align:center; ">
    <div class="box" style="margin-top: 100px; width: 370px; display:inline-block; ">
      <form [formGroup]="createUserForm" (ngSubmit)="onSubmit()">
  
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputFirstName">First Name:</label>
            <input type="text" formControlName = "firstName"  class="form-control" id="firstName" required placeholder="First">
            <div *ngIf="firstName.errors?.pattern">First name not valid</div>
            <div *ngIf="firstName.errors?.required">First name required</div> 
          </div>
          
          <div class="form-group col-md-6">
            <label for="inputLastName">Last Name:</label>
            <input type="text" formControlName = "lastName" class="form-control" id="lastName" required placeholder="Last">
            <div *ngIf="lastName.errors?.pattern">Last name not valid</div> 
            <div *ngIf="firstName.errors?.required">First name required</div>
          </div>
        </div>  
        
        <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">Email:</label>
              <input type="email" formControlName = "email"  class="form-control" id="email" required placeholder="Email">
              <div *ngIf="email.errors?.email">Enter a valid email address</div>
              <div *ngIf="email.errors?.required">Email address required</div>
            </div>
            <div *ngIf="emailAlreadyTaken" class="alert alert-danger"> 
              *This username already exists!
            </div>
      
            
            <!--
            <div class="form-group col-md-6">
              <label for="inputPassword">Password:</label>
              <input type="password" formControlName = "password" class="form-control" id="password" required placeholder="Password">
              <div *ngIf="password.errors?.required">Password required</div>
              <div *ngIf="password.errors?.pattern">Password needs lowercase, uppercase, number, and symbol: 8 characters minimum</div> 
            </div>
          </div>
        -->
      
      
        <div class="form-group col-md-6">
          <button type="submit" class="btn btn-primary" [disabled]="!createUserForm.valid">Create Account</button>
        </div>
      
  </div>
