<button type="button" class="btn btn-primary btn-lg" (click)="displayRequestForm()">Request an Ambassador</button>

<!-- <div id="imageContainer">
  <img src="../../../../assets/images/DTVMainStLogo.png" alt="Logo" class="responsive">
</div> -->

<div class="container-fluid" style="text-align:center;">

  <form *ngIf="!newRequestFormIsCollapsed" [formGroup]="createAmbassadorRequestForm" (ngSubmit)="onSubmit()">
    <!-- <div class="box" style="margin-top: 15px; width: 100%; display:inline-block;"> -->
      <div class="form-row" style="text-align:left; display: inline-block; width: 100%;">
        <div class="form-group col-xs-12 col-md-6" style="width: 50%">
          <label for="inputFirstName">First Name</label>
          <input type="text" formControlName="firstName" class="form-control" id="firstName" required
            placeholder="First name">
          <div *ngIf="firstName.errors?.pattern">First name not valid</div>
          <div *ngIf="firstName.errors?.required">*First name required</div>
        </div>

        <div class="form-group col-xs-12 col-md-6" style="width: 50%">
          <label for="inputLastName">Last Name</label>
          <input type="text" formControlName="lastName" class="form-control" id="lastName" required
            placeholder="Last name">
          <div *ngIf="lastName.errors?.pattern">Last name not valid</div>
          <div *ngIf="firstName.errors?.required">*Last name required</div>
        </div>
      </div>
      
    <!-- </div> -->
    <div class="form-row">
      <label for="telephone">Telephone</label>
      <input type="text" formControlName="phoneNumber" class="form-control" id="phoneNumber" required
        placeholder="Telephone number" required minlength="7" maxlength="12">
      <div *ngIf="phoneNumber.errors?.required">*Phone number required</div>
    </div>

    <div class="form-row">
      <label for="origin">Pick Up Location</label>
      <input type="text" formControlName="pickUpAddress" class="form-control" id="pickUpAddress" required
        placeholder="Pick Up address" required>
      <div *ngIf="pickUpAddress.errors?.required">*Pick up location required</div>
    </div>

    <div class="form-row">
      <label for="destination">Drop Off Location</label>
      <input type="text" formControlName="dropOffAddress" class="form-control" id="dropOffAddress" required
        placeholder="Drop Off address" required>
      <div *ngIf="dropOffAddress.errors?.required">*Drop off location required</div>
    </div>
    
    <div class="form-group col-md-6">
      <button type="submit" class="btn btn-primary" [disabled]="!createAmbassadorRequestForm.valid">Submit
        Request</button>
    </div>
    <div id="buttonContainer" class="form-group col-sm-6">
      <button type="submit" class="btn btn-primary" (click)="cancel()">Cancel</button>
    </div>
  </form>
</div>