.btn {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    background-color: #0aa59d;
    border-color: #0aa59d;
}

/* .col-md-6 {
    padding-left: 25%;
    padding-right: 25%;
} */

.form-row {
    text-align: left;
}

