.btn {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    background-color: #0aa59d;
    border-color: #0aa59d;
}
label{
    text-align: left;

}

.form-row {
    /* padding-bottom: 0px;
    margin-top: 0px;
    padding-top: 0px;
    padding-left: 0px; */
    height: 75px;
    width: 100%;
}
.form-group {
    width: 50%;
}


