<div class="container">
    <div class="label">
        <h1><b>Administrative Login</b></h1>
        <!-- <hr style="margin: 0 10%; border-top-color: #0AA59D;"> -->
    </div>
    
    <form #it="ngForm" (ngSubmit)="loginForm()">

        <div class="form-group">
            <label>Username:</label>
            <input type="text" name="username" class="form-control" [(ngModel)]="login.username" 
                    #username="ngModel" placeholder="Username" required>
        </div>
        <div class="form-group">
            <label>Password:</label>
            <input type="text" type="password" name="password" class="form-control" [(ngModel)]="login.password" 
                    #password="ngModel" placeholder="Password" required>
        </div>
        <!--Checks if status is 401 meaning username or password is wrong -->
        <!--TO DO: validate other response status -->
        <div *ngIf="status==401" class="alert alert-danger">
                Username or Password are incorrect
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!it.form.valid">Log in</button>

    </form>

</div>
  