<div class="container">
    <h1><b>Administrative Login</b></h1>
    <hr style="margin: 0 15%; border-top-color: #0AA59D;">

    <form #it="ngForm" (ngSubmit)="loginForm()">

        <div class="form-group">
            <label>Username</label>
            <input type="text" type="username" name="username" class="form-control" [(ngModel)]="login.username" 
                    #username="ngModel" required>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="text" type="password" name="password" class="form-control" [(ngModel)]="login.password" 
                    #password="ngModel" required>
        </div>
        <!--Checks if status is 401 meaning username or password is wrong -->
        <!--TO DO: validate other response status -->
        <div *ngIf="status==401" class="alert alert-danger">
                Username or Password are incorrect
        </div>
        <button type="submit" class="btn" [disabled]="!it.form.valid">Log in</button>

    </form>

</div>
  