.container{
    margin: auto;
    margin-top: 10%;
    width: 95%;
    padding: 10px;
}

.btn{
    background-color: #0aa59d;
    border-color: #0aa59d;
}
.btn:hover{
    color: #18d26e;
}

.form-row {
    text-align: left;
}

form{
    padding-top: 10px;
}

.label{
    text-align: center;
    color: black;
}