.responsive {
    
    width: 75px;
    height: 75px;
    /* height: auto; */
  }
#imageContainer{
    padding-top: 75px;
    padding-bottom: 20px;
    width:100%;
    text-align: center;
}
#buttonContainer{
  padding-top: 7px;
}