

<div class="container">
    <form #it="ngForm" (ngSubmit)="processForm()">

        <div class="form-group">
            <label>First Name</label>
            <input type="text" name="firstName" class="form-control" [(ngModel)]="workOrder.firstName" required>
        </div>
            <!-- Password validator  -->
        <div class="form-group">
            <label>Last Name</label>
            <input type="text" name="lastName" class="form-control" [(ngModel)]="workOrder.lastName" required>
        </div>

        <div class="form-group">
            <label>Description</label>
            <input type="text" name="description" class="form-control" [(ngModel)]="workOrder.description" required>
        </div>

        <div class="form-group">
            <label>Location</label>
            <input type="text" name="location" class="form-control" [(ngModel)]="workOrder.location" required>
        </div>

        <div class="form-group">
            <label>File Upload</label>
            <input type="file" name="fileUpload" class="form-control" (change)="selectFile($event)" [(ngModel)]="workOrder.fileUpload" observeFiles>
        </div>

        <button type="submit" class="btn" (click)="upload()"[disabled]="!it.form.valid">Submit</button>

    </form>
</div>





