<nav class="navbar navbar-expand-md navbar-light">

    <span class="navbar-brand"><img src="../../../../assets/images/DTW-Logo-01.png"></span>

    <button class="navbar-toggler" type="button" aria-controls="navbarContent" [attr.aria-expanded]="!collapsed"
        aria-label="Toggle navigation" (click)="collapsed = !collapsed">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse" [class.collapse]="collapsed" id="navbarContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" ngbDropdown>
                <a class="nav-link" [routerLink]="['/admin/logged-in']" routerLinkActive="router-link-active"
                    role="button">
                    Home
                </a>
            </li>

            <li class="nav-item" [routerLink]="['/admin/ambassador-requests']" ngbDropdown>
                <a class="nav-link" role="button">
                    Requests
                </a>
            </li>

            <li class="nav-item" [routerLink]="['/admin/reports-display']" ngbDropdown display="dynamic" placement="bottom-right">
                <a class="nav-link" role="button">
                    Work Orders
                </a>
            </li>
            
            <li class="nav-item" [routerLink]="['/admin/login']" (click)="logout()" ngbDropdown display="dynamic" placement="bottom-right">
                <a class="nav-link" role="button">
                    Log Out
                </a>
            </li>
        </ul>
    </div>
</nav>