#footer {
    padding-top: 0;
    /* position: absolute; */
    left: 0;
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    height: 123px;
    background-color: #40504f;
}

#design-block {
    width: 100%;
    height: 10px;
    background-color: #0AA59D;
}

.flex-container {
    padding-top: 15px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-around;
}

img {
    height: 50px;
    width: 50px;
}

.container {
    font-size: 12px;
    padding-top: 1rem;
}

#dtvWebsite {
    text-decoration: none;
    color: white;
}

#dtvWebsite:after {
    text-decoration: none;
}

.clear {
    clear: both;
    height: 125px;
}