<footer id="footer" class="text-white-50">

    <div id="design-block"></div>

    <div class="flex-container">
        <!-- add social media href to actual downtown visions links-->
        <div><a href="https://www.facebook.com/downtownwilmingtonde"><img src="../../../../assets/images/facebook_icon.png"></a></div>

        <div><a href="https://twitter.com/downtownwilmde"><img src="../../../../assets/images/twitter_icon.png"></a></div>

        <div><a href="https://www.instagram.com/downtownwilmde/"><img src="../../../../assets/images/instagram_icon.png"></a></div>
    </div>

    <hr style="margin: 0 15%; border-top-color: #0AA59D;">

    <div class="container text-center">
        <small>This site is managed by <a id="dtvWebsite" href="http://downtownwilmingtonde.com/about"><u>Downtown Visions</u></a>, Whose mission is to create, 
            manage and promote a quality environment for people who live, work, and 
            visit Downtown Wilmington</small>
    </div>
</footer>